<?xml version="1.0" encoding="utf-8"?>
<!--
	##################################################################
	#	pyHTTPd
	#	$Id$
	#	(c) 2006 by Tim Taubert
	##################################################################
-->
<config>
	<base>
		<software>pyHTTPd/0.0.1</software>
		<host>localhost</host>
		<port>8888</port>
		<docroot>/home/tim/wwwtest</docroot>
		<servroot>/mnt/crypted/python/pyhttpd</servroot>
		<admin>admin@server.com</admin>
		<module>htaccess</module>
		<module>alias</module>
		<module>dirindex</module>
		<module>cgihandler</module>
		<!-- <module>webadmin</module> -->
	</base>
	<aliases>
		<alias>
			<source>/alias/</source>
			<target>/mnt/crypted/www/</target>
		</alias>
	</aliases>
	<dirindex>
		<index>index.htm</index>
		<index>index.html</index>
		<index>index.php</index>
	</dirindex>
	<cgihandler>
		<handler>
			<int>/usr/bin/php-cgi</int>
			<ext>.php</ext>
			<ext>.php3</ext>
			<ext>.phtml</ext>
		</handler>
		<handler>
			<int>/usr/bin/python</int>
			<ext>.py</ext>
		</handler>
	</cgihandler>
</config>